*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.95);
}

.wrapper{
	padding: 50px 15px;
}


.swiper {
	max-width: 50rem;
	margin: 0 auto 3.125rem;
	overflow: hidden;
	position: relative;
}
.swiper-wrapper {
	display: flex;
}
.swiper-slide {
	flex-shrink: 0;
	padding-bottom: 52.8%;
	position: relative;
}

.swiper-slide img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20%;
}
.swiper-pagination {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 0.625rem;
	display: flex;
	gap: 0.3125rem;
}

.swiper-pagination-bullet{
	height: 0.3125rem;
	flex: 1 1 auto;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
}
.swiper-pagination-bullet-active{
	background-color: rgb(255, 166, 0);
}
.swiper-pagination-lock{
	display: none;
}